<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Course ID</label>
                <input type="text" class="form-control" placeholder="Course ID" ng-model="course.courseID">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tags</label>
                <input type="text" class="form-control" placeholder="Tags (comma separated)" ng-model="course.courseTags">
            </div>
        </div>
    </div>

    <div class="form-group"><label>Section Information</label> - <span class="adder-link" ng-click="addSection()">Add Section</span></div>
    <div ng-repeat="section in course.sections | orderBy: '-' track by $index">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Section ID</label>
                    <input type="text" class="form-control" placeholder="Section ID" ng-model="section.sectionID">
                </div>
                <div class="row">
                    <div class="col-md-8 form-group">
                        <label>Start Time</label>
                        <input type="text" class="form-control" placeholder="00:00" maxlength="5" ng-model="start_time" ng-init="start_time = initTime(section.startTime)" ng-change="section.startTime = changeTime(section.startTime, start_time)">
                    </div>
                    <div class="col-md-4">
                        <label>AM/PM</label>
                        <ui-select ng-model="selectedTimeOption" ng-init="selectedTimeOption = initAMorPM(section.startTime)" ng-change="section.startTime = changeAMorPM(section.startTime, selectedTimeOption.option)">
                            <ui-select-match>
                                <span ng-bind="$select.selected.option"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (standardTimeOptions | filter: $select.search) track by item.id">
                                <span ng-bind="item.option"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Instructor</label>
                    <input type="text" class="form-control" placeholder="Instructor" ng-model="section.instructor">
                </div>
                <div class="row">
                    <div class="col-md-8 form-group">
                        <label>End Time</label>
                        <input type="text" class="form-control" placeholder="00:00" maxlength="5" ng-model="end_time" ng-init="end_time = initTime(section.endTime)" ng-change="section.endTime = changeTime(section.endTime, end_time)">
                    </div>
                    <div class="col-md-4">
                        <label>AM/PM</label>
                        <ui-select ng-model="selectedTimeOption" ng-init="selectedTimeOption = initAMorPM(section.endTime)" ng-change="section.endTime = changeAMorPM(section.endTime, selectedTimeOption.option)">
                            <ui-select-match>
                                <span ng-bind="$select.selected.option"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (standardTimeOptions | filter: $select.search) track by item.id">
                                <span ng-bind="item.option"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Days</label>
            <br>
            <div class="checkbox-inline">
                <label>
          <input type="checkbox" ng-model="section.days.M">
          Monday
        </label>
            </div>
            <div class="checkbox-inline">
                <label>
          <input type="checkbox" ng-model="section.days.T">
          Tuesday
        </label>
            </div>
            <div class="checkbox-inline">
                <label>
          <input type="checkbox" ng-model="section.days.W">
          Wednesday
        </label>
            </div>
            <div class="checkbox-inline">
                <label>
          <input type="checkbox" ng-model="section.days.R">
          Thursday
        </label>
            </div>
            <div class="checkbox-inline">
                <label>
          <input type="checkbox" ng-model="section.days.F">
          Friday
        </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label># Students in Section</label>
                    <input type="number" class="form-control" placeholder="# Students in Section" ng-model="section.numberOfStudents">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label># Undergraduate TAs Needed</label>
                    <input type="number" class="form-control" placeholder="# Undergraduate TAs Needed" ng-model="section.undergradTAsNeeded">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label># Undergraduate LAs Needed</label>
                    <input type="number" class="form-control" placeholder="# Undergraduate LAs Needed" ng-model="section.undergradLAsNeeded">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label># Graduate TAs Needed</label>
                    <input type="number" class="form-control" placeholder="# Graduate TAs Needed" ng-model="section.gradTAsNeeded">
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" ng-click="removeSection($index)">Remove Section</button>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
</form>
