<a class="btn btn-primary float-right" href="#/add-student">Add Student</a>
<h1>Students</h1>
<hr>
<form class="form-inline student-filters">
  <div class="form-group inline-student-form-filters">
    <label>First Name:</label><br>
    <input type="text" placeholder="First Name" ng-model="firstName" class="form-control">
  </div>
  <div class="form-group inline-student-form-filters">
    <label>Last Name:</label><br>
    <input type="text" placeholder="Last Name" ng-model="lastName" class="form-control">
  </div>
  <div class="form-group inline-student-form-filters">
    <label>Tags:</label><br>
    <input type="text" placeholder="Tags" ng-model="searchTags" class="form-control">
  </div>

  <div class="form-group" ng-init="showIsUndergrad = ''">
    <label>Class Year:</label><br>
    <div class="radio inline-student-form-filters">
      <label>Undergraduate:</label> <input type="radio" name="filterForClassLevel" ng-model="showIsUndergrad" ng-value="{isUndergrad:'true'}">
    </div>
    <div class="radio inline-student-form-filters">
      <label>Graduate:</label> <input type="radio" name="filterForClassLevel" ng-model="showIsUndergrad" ng-value="{isUndergrad:'false'}">
    </div>
    <div class="radio inline-student-form-filters">
      <label>All:</label> <input type="radio" name="filterForClassLevel" ng-model="showIsUndergrad" value="">
    </div>
  </div>

  <div class="form-group inline-student-form-filters">
    <label>&nbsp;</label><br>
    <button id="clear-filter" class="btn btn-danger btn-sm" ng-click="firstName='';lastName='';searchTags='';showIsUndergrad=''" type="button"> Clear Filters </button><br>
  </div>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="hoverable" ng-init="showExtraInfo = false" ng-click="showExtraInfo = !showExtraInfo" ng-repeat-start="student in students | filter:{first_name: firstName} | filter:{last_name: lastName} | filter:{tags: searchTags} | filter:showIsUndergrad | orderBy: 'lastName' track by student.firebaseId">
      <td>{{student.first_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{student.email}}</td>
      <td><a href="#/edit-student/{{student.firebaseId}}">Edit</a></td>
    </tr>

    <tr ng-show="showExtraInfo" ng-repeat-end>
      <td colspan="4">
        <div class="panel panel-default" ng-show="student.tags != ''">
          <div class="panel-heading">
            <h3 class="panel-title">
              Tags
            </h3>
          </div>
          <div class="panel-body" style="padding: 10px 15px;">
            <span class="label label-primary tag-space" data-ng-repeat="tag in makeTagArray(student.tags)">{{tag}}</span>
          </div>
        </div>

        <div class="panel panel-default" ng-show="student.grades.length > 0">
          <div class="panel-heading">
            <h3 class="panel-title">
              Grades
            </h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed no-margin-table">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="grade in student.grades">
                  <td>{{grade.id}}</td>
                  <td>{{grade.letter_grade}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default" style="margin-bottom: 5px">
          <div class="panel-heading">
            <h3 class="panel-title">
              Schedule
            </h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed no-margin-table">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Days</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, courseEntry) in student.schedule">
                  <td>{{courseEntry.id}}</td>
                  <td>{{courseEntry.start_time}}</td>
                  <td>{{courseEntry.end_time}}</td>
                  <td>{{prettifyDays(courseEntry.days)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>