<form>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" placeholder="First Name" ng-model="student.first_name">
			</div>

			<div class="form-group">
				<label>Student ID</label>
				<input type="text" class="form-control" placeholder="Student ID" ng-model="student.id">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" class="form-control" placeholder="Last Name" ng-model="student.last_name">
			</div>

			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" placeholder="Email" ng-model="student.email">
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<label>Tags</label>
				<input type="text" class="form-control" placeholder="Tags (comma separated)" ng-model="student.tags">
			</div>
		</div>
	</div>

	<div class="form-group">
		<label>Classification</label>
		<div class="radio">
			<label>
		    <input type="radio" ng-model="student.isUndergrad" ng-value="true"> Undergraduate
		  </label>
		</div>
		<div class="radio">
			<label>
		    <input type="radio" ng-model="student.isUndergrad" ng-value="false"> Graduate
		  </label>
		</div>
	</div>

	<div class="form-group"><label>Student Schedule</label> - <span class="adder-link" ng-click="addCourse()">Add Course</span></div>
	<div ng-repeat="course in student.schedule | orderBy: '-' track by $index">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Course ID</label>
					<input type="text" class="form-control" placeholder="Course ID" ng-model="course.id">
				</div>
			</div>
			<div class="col-md-4">
				<div class="row" ng-model="course.start_time">
					<div class="form-group col-md-8">
						<label>Start Time</label>
						<input type="text" class="form-control" placeholder="00:00" maxlength="5" ng-model="start_time" ng-init="start_time = initTime(course.start_time)" ng-change="course.start_time = changeTime(course.start_time, start_time)">
					</div>
					<div class="col-md-4">
						<label>AM/PM</label>
						<ui-select ng-model="selectedTimeOption" ng-init="selectedTimeOption = initAMorPM(course.start_time)" ng-change="course.start_time = changeAMorPM(course.start_time, selectedTimeOption.option)">
							<ui-select-match>
								<span ng-bind="$select.selected.option"></span>
							</ui-select-match>
							<ui-select-choices repeat="item in (standardTimeOptions | filter: $select.search) track by item.id">
								<span ng-bind="item.option"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row" ng-model="course.end_time">
					<div class="form-group col-md-8">
						<label>End Time</label>
						<input type="text" class="form-control" placeholder="00:00" maxlength="5" ng-model="end_time" ng-init="end_time = initTime(course.end_time)" ng-change="course.end_time = changeTime(course.end_time, end_time)">
					</div>
					<div class="col-md-4">
						<label>AM/PM</label>
						<ui-select ng-model="selectedTimeOption" ng-init="selectedTimeOption = initAMorPM(course.end_time)" ng-change="course.end_time = changeAMorPM(course.end_time, selectedTimeOption.option)">
							<ui-select-match>
								<span ng-bind="$select.selected.option"></span>
							</ui-select-match>
							<ui-select-choices repeat="item in (standardTimeOptions | filter: $select.search) track by item.id">
								<span ng-bind="item.option"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label>Days</label>
					<br>
					<div class="checkbox-inline">
						<label>
					    <input type="checkbox" ng-model="course.days.M">
					    Monday
					  </label>
					</div>
					<div class="checkbox-inline">
						<label>
					    <input type="checkbox" ng-model="course.days.T">
					    Tuesday
					  </label>
					</div>
					<div class="checkbox-inline">
						<label>
					    <input type="checkbox" ng-model="course.days.W">
					    Wednesday
					  </label>
					</div>
					<div class="checkbox-inline">
						<label>
					    <input type="checkbox" ng-model="course.days.R">
					    Thursday
					  </label>
					</div>
					<div class="checkbox-inline">
						<label>
					    <input type="checkbox" ng-model="course.days.F">
					    Friday
					  </label>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-danger" ng-click="removeCourse($index)">Remove Course</button>
		</div>
	</div>

	<div class="form-group"><label>Student Grades</label> - <span class="adder-link" ng-click="addGrade()">Add Grade</span></div>
	<div ng-repeat="grade in student.grades track by $index">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Course ID</label>
					<input type="text" class="form-control" placeholder="Course ID" ng-model="grade.id">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Grade</label>
					<select class="form-control" ng-options="grade for grade in grades" ng-model="grade.letter_grade">{{grade}}</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-danger" ng-click="removeGrade($index)">Remove Grade</button>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
	</div>
</form>
